# --- FLUTTER & DART ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# --- ANDROID ---
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/generated/
**/android/key.properties
**/android/app/build/
**/android/app/src/main/assets/

# --- WINDOWS (Senin için önemli) ---
**/windows/flutter/ephemeral/
**/windows/runner/resources/

# --- IDE & EDİTÖR ---
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# --- DİĞER GEREKSİZLER ---
*.class
*.log
*.pyc
*.swp
.history
doc/api/
coverage/